* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-UltraLight.eot");
  src: url("../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Black.eot");
  src: url("../fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.svg#HelveticaNeueCyr-UltraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
:root {
  --color-font: #fff;
  --color-font-2: #333;
  --color-font-3: #133d8d;
  --color-bg: #fff;
  --color-bg-elems: #133d8d;
}

body {
  font-family: "HelveticaNeueCyr";
  color: var(--color-font);
}
body a {
  color: var(--color-font);
}

.wrapper {
  padding: 0px 10px 0px 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  background: center/cover no-repeat url("../img/main.jpg");
  height: 900px;
}

.header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px 25px 0px;
}
.header__top::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 75px;
  left: 50%;
  right: 0;
  height: 1px;
  transform: translateX(-50%);
  border-top: 1px solid #fff;
}
.header__bottom {
  padding-top: 30px;
}

.top__middle {
  display: flex;
}
.middle {
  font-size: 90px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
}
.middle__mail {
  color: var(--color-font);
}
.middle__phone {
  margin: 0px 0px 0px 50px;
  color: var(--color-font);
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-font);
}
.nav__link {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.7px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 120px 0px 0px 0px;
  gap: 20px;
}
.main__title {
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  max-width: 636px;
  color: var(--color-font);
}
.main__button {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.7px;
  margin: 50px 0px 0px 0px;
  background: #bd0007;
  width: 170px;
  height: 51px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
  color: var(--color-font);
}
.main__btns {
  display: flex;
  margin: 130px 0px 0px 0px;
  gap: 10px;
}
.main__right {
  margin: 310px 0px 0px 0px;
}
.main__card {
  background: rgba(51, 51, 51, 0.3);
  padding: 30px 35px 35px 35px;
  width: 526px;
}
.main__subtitle {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 32px;
  max-width: 400px;
  color: var(--color-font);
}
.main__subtitle::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  left: -50px;
  width: 50px;
  transform: translateX(-50%);
  transform: rotate(0.25turn);
  border-top: 2px solid #fff;
}

.btns__left {
  width: 60px;
  height: 60px;
  padding: 15px 15px 15px 15px;
  background: var(--color-bg-elems, #133d8d);
  cursor: pointer;
}
.btns__right {
  width: 60px;
  height: 60px;
  padding: 15px 15px 15px 15px;
  background: var(--color-bg-elems, #133d8d);
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
}
.card__title {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.7px;
  color: var(--color-font);
}
.card__parameters {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px 0px 0px 0px;
  color: var(--color-font);
}
.card__ship {
  display: flex;
}

.news {
  padding: 137px 0px 160px 0px;
}
.news__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__blocks {
  display: flex;
  gap: 24px;
  margin: 100px 0px 0px 0px;
  color: var(--color-font, #fff);
}

.top__left {
  color: var(--color-font-2, #333);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1.8px;
}
.top__right a {
  color: var(--color-font-3, #133d8d);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.9px;
}

.blocks__block1 {
  width: 306px;
  height: 330px;
  background: url(../img/news01.jpg);
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocks__block2 {
  width: 306px;
  height: 330px;
  background: url(../img/news02.jpg);
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocks__block3 {
  width: 306px;
  height: 330px;
  background: url(../img/news03.jpg);
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocks__block4 {
  width: 306px;
  height: 330px;
  background: url(../img/news04.jpg);
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__date {
  width: 140px;
  height: 31px;
  background: #bd0007;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.block__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.block__subtext {
  margin: 15px 0px 0px 0px;
  opacity: 0.75;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.history {
  height: 798px;
  background: var(--color-bg-elems, #133d8d);
  color: var(--color-font, #fff);
  padding: 120px 0px 45px 0px;
}
.history__container {
  display: flex;
  justify-content: space-between;
}
.history__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1.8px;
}
.history__text {
  max-width: 526px;
  margin: 40px 0px 0px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.history__right {
  margin: 90px 0px 0px 0px;
}
.history__points {
  margin: 15px 0px 0px 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.points__point {
  display: flex;
}

.point__text {
  margin: 0px 0px 0px 20px;
}